.header {
display: flex;
justify-content: space-between;
margin: 0 auto;}

.head {
  // position: absolute;
  font-weight: medium;
  color: rgb(44, 55, 67);
  font-size: 24px;
  top: 10px;
}

.changebet {
  // position: absolute;
  display: flex;
  font-weight: bold;
  right: 20px;
  top: 0;
  background: #fff;
  z-index: 10;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  padding: 5px;
  padding-right: 20px;
}

.grafiktext {
  display: block;
  // left: 120px;
  // top: 0;
  font-size: 12px;
  color: #4c5768;
  text-transform: uppercase;
  line-height: 10px;
}

.zigzag {
  padding: 10px;
}
