@font-face {
  font-family: 'Muller';
  font-style: normal;
  src: url('./assets/fonts/MullerMedium.otf');
}
body {
  font-family: 'Muller';
  text-align: center;
  background-color: #f3f5f7;
}
.container {
  margin: 0 20px;
}
.app {
  width: 1024px;
}
